* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--Fuente2);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #333333;
}

header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav-container a {
  text-transform: uppercase;
  line-height: 3rem;
  font-size: 1.8rem;
}

.header-img-container img {
  width: 250px;
}

.search {
  margin-right: 15px;
}
.search span img {
  width: 15px;
}

main .bg-cyberpunk-2077 {
  margin-top: 30px;
  background-image: url("../assets/img/cyberpunk-2077.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.7);
}

.popular-game {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  height: 500px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 5%;
  padding: 0 15px;
}
.popular-game .game-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.popular-game .game-text h2 {
  display: inline-block;
  padding: 3px;
  text-transform: uppercase;
  background-color: #8841DA;
}
.popular-game .game-text h1 {
  margin-top: 20px;
  text-transform: uppercase;
}
.popular-game .game-text p {
  margin-top: 20px;
}

.more-information {
  text-align: start;
  margin-left: 10px;
}
.more-information span {
  margin-right: 5px;
}
.more-information span img {
  width: 25px;
}

.bg-2 {
  background-image: url("../assets/img/rdr2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.7);
}