/* GLOBALES */
:root {
    --Fuente1: 'Lato', sans-serif;
    --Fuente2:'Oswald', sans-serif;
    --primary-color: #333333;
    --secundary-color:#8841DA;
    --light-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Fuente2);
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}

/* HEADER - GLOBAL */
header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-img-container img {
    width: 250px;
}
/* NAV */
header .nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.nav-container a {
    text-transform: uppercase;
    line-height: 3rem;
    font-size: 1.8rem;
}
.search {
    margin-right: 15px;
}
.search span img {
    width: 15px;
}

/* SECTION */
.bg-cyberpunk-2077 {
    background-image: url("../assets/img/cyberpunk-2077.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.popular-game {
    margin-top: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    height: 400px;
    text-align: center;
    color: var(--light-color);
}
.game-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.popular-game h2 {
    display: inline-block;
    padding: 3px;
    text-transform: uppercase;
    background-color: var(--secundary-color);
}
.popular-game h1 {
    text-transform: uppercase;
}
/* MORE-INFORMATION */
.more-information {
    text-align: start;
    margin-left: 10px;
}
.more-information span {
    margin-right: 5px;
}
