@mixin bg-img($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include box-shadow;
}
@mixin box-shadow {
    box-shadow: 10px 10px 20px 5px rgb(0 0 0 / 70%);
}
@mixin article-card {
    margin: 0 auto;
    max-width: 425px;
    height: 500px;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 15px;
    padding: 0 15px;
}


$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$primary-color: #333333;
$secundary-color:#8841DA;
$light-color: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--Fuente2);
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: $primary-color;
}
