@mixin bg-img($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin experiment {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    max-width: 900px;
    height: 500px;
    text-align: center;
    color: #fff;
    padding: 0 0px;
    border-radius: 5%;
    padding: 0 15px;
}


$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$primary-color: #333333;
$secundary-color:#8841DA;
$light-color: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--Fuente2);
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: $primary-color;
}
