main .bg-cyberpunk-2077 {
    margin-top: 30px;
   @include bg-img("../assets/img/cyberpunk-2077.jpg");
   @include box-shadow;
}

.popular-game {
    margin: 0 auto;
    max-width: 900px;
    height: 500px;
    text-align: center;
    color: $light-color;
    @include article-card;
    .game-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        h2 {
            display: inline-block;
            padding: 3px;
            text-transform: uppercase;
            background-color: $secundary-color;
        }
        h1 {
            margin-top: 20px;
            text-transform: uppercase;
        }
        p{
            margin-top: 20px;
        }
    }
}
.more-information {
    text-align: start;
    margin-left: 10px;
    span {
        margin-right: 5px;
        img {
            width: 25px;
        }
    }
}

.bg-2 {
    @include bg-img("../assets/img/rdr2.jpg");
    @include box-shadow;
}

// NUEVO TEMA
.popular-game--new {
    color: $light-color;
    background-color: $secundary-color;
    @include article-card;
    padding: 40px;
    font-family: $Fuente1;
    line-height: 3rem;
    @include box-shadow;
    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        font-size: 1.7rem;
        font-weight: 500;
    }
    .button {
        margin-top: 20px;
        text-transform: uppercase;
        a {
            font-weight: bold;
            font-size: 2.3rem;
            color: $light-color;
            padding: 10px;
            border: 3px solid #fff;
        }
    }
}

// NOTICIAS DESTACADAS
.outstanding-news {
    color: $primary-color;
    background-color: $light-color;
    @include article-card;
    font-family: $Fuente1;
    line-height: 3rem;
    @include box-shadow;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    h2 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    .outstanding-news-list {
        grid-column: 2 / span 2;
        grid-row: 2 / 4;
        li {
            font-weight: 500;
            padding: 10px;
        }
    }
}