main .bg-cyberpunk-2077 {
    margin-top: 30px;
   @include bg-img("../assets/img/cyberpunk-2077.jpg");
}

.popular-game {
    margin: 0 auto;
    max-width: 900px;
    height: 500px;
    text-align: center;
    color: $light-color;
    @include article-card;
    .game-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        h2 {
            display: inline-block;
            padding: 3px;
            text-transform: uppercase;
            background-color: $secundary-color;
        }
        h1 {
            margin-top: 20px;
            text-transform: uppercase;
        }
        p{
            margin-top: 20px;
        }
    }
}
.more-information {
    text-align: start;
    margin-left: 10px;
    span {
        margin-right: 5px;
        img {
            width: 25px;
        }
    }
}

.bg-2 {
    @include bg-img("../assets/img/rdr2.jpg");
}

// NUEVO TEMA
.popular-game--new {
    margin: 0 auto;
    max-width: 425px;
    height: 500px;
    color: $light-color;
    background-color: $secundary-color;
    @include article-card;
    padding: 40px;
}
